In [1]:
import csv
import pandas as pd

In [2]:
raw = pd.read_csv("isw.csv")
raw.head(10)

   24-02-2022                                         Unnamed: 1
0  25-02-2022                                                NaN
1  26-02-2022                                                NaN
2  27-02-2022                                                NaN
3  28-02-2022  The Russian military is reorganizing its milit...
4  01-03-2022                                                NaN
5  02-03-2022                                                NaN
6  03-03-2022                                                NaN
7  04-03-2022                                                NaN
8  05-03-2022                                                NaN
9  06-03-2022                                                NaN

In [12]:
raw.tail(10)
# 25-01-2023 not included

     24-02-2022                                         Unnamed: 1
324  15-01-2023  January 15, 7:45 pm ET\r\n ISW is publishing a...
325  16-01-2023  The Kremlin continues to publicly challenge Wa...
326  17-01-2023   Russian Defense Minister Sergey Shoigu announ...
327  18-01-2023   Russian President Vladimir Putin’s speech com...
328  19-01-2023  Senior Kremlin officials continue holding high...
329  20-01-2023   Head of the Chechen Republic Ramzan Kadyrov c...
330  21-01-2023  The Ukrainian defense of Bakhmut is likely a s...
331  22-01-2023  January 22, 8:30 pm ET\r\nISW is publishing an...
332  23-01-2023  January 23, 9:45pm ET \r\nUkrainian intelligen...
333  24-01-2023  A coalition of NATO member states reportedly w...

In [3]:
raw.columns
# fix columns names

Index(['24-02-2022', 'Unnamed: 1'], dtype='object')

In [4]:
raw[raw["Unnamed: 1"].isna()]

     24-02-2022 Unnamed: 1
0    25-02-2022        NaN
1    26-02-2022        NaN
2    27-02-2022        NaN
4    01-03-2022        NaN
5    02-03-2022        NaN
..          ...        ...
314  05-01-2023        NaN
315  06-01-2023        NaN
316  07-01-2023        NaN
317  08-01-2023        NaN
318  09-01-2023        NaN

[106 rows x 2 columns]

In [13]:
raw[(raw["Unnamed: 1"].isna()) & (raw["24-02-2022"].str.endswith("2022"))]
# there are some missing values (mayby custom links, investigate)

     24-02-2022 Unnamed: 1
0    25-02-2022        NaN
1    26-02-2022        NaN
2    27-02-2022        NaN
4    01-03-2022        NaN
5    02-03-2022        NaN
..          ...        ...
284  06-12-2022        NaN
285  07-12-2022        NaN
286  08-12-2022        NaN
287  09-12-2022        NaN
303  25-12-2022        NaN

[97 rows x 2 columns]

In [14]:
raw[(raw["Unnamed: 1"].isna()) & (raw["24-02-2022"].str.endswith("2023"))]

     24-02-2022 Unnamed: 1
310  01-01-2023        NaN
311  02-01-2023        NaN
312  03-01-2023        NaN
313  04-01-2023        NaN
314  05-01-2023        NaN
315  06-01-2023        NaN
316  07-01-2023        NaN
317  08-01-2023        NaN
318  09-01-2023        NaN